<table class="table table-striped display" id="example" style="width:100%">
   <thead>
      <tr>
         <th>Images</th>
         <th> Action</th>
      </tr>
   </thead>
   <tbody>
      <% _data = data ; if(_data.length > 0 ) { %>
      <% for (var i=0; i<_data.length; i++) { %>
         <tr>
            <td class="py-1"><%= _data[i]['ahb_bannerimage'] %></td>
            <td> 
               <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" onclick="setBannerId(`<%=_data[i]['ahb_uuid']  %>`)">
               <i style="color: #01805c;" class="fas fa-trash-alt"></i>
               </a>
            </td>   
         </tr>
    
      <% } %> 
      <% } else 
      { %>
         <tr class="no-record-row">
            <td colspan="5" style="text-align: center; vertical-align: middle;"><span>No record found</span></td>
         </tr>
    
      <% } %>
   </tbody>
</table>

<!-- start datatable 15-09-2022 -->
<script>
   $(document).ready(function () {
      $('#example').DataTable({
      
      });
   });
</script>

<!-- End datatable 15-09-2022 -->





<!--Start Delete User Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <form>`
            <input type="hidden" id="hiddenuser">
         <div class="modal-header">						
            <h4 class="modal-title">Delete Banner List</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">					
            <p>Are you sure you want to delete this user?</p>
            <p class="text-warning"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            
            <input type="button" style="background-color: #01805c; color: #fff;" 
         type="submit" class="btn btn" value="Delete" onclick="KWACHA_ADMIN.deleteBanner()" id="userdata">
         </div>
         </form>
      </div>     
   </div>
</div>
<script>
    //Start-user Delete
   function setBannerId ( userId) {
      $("#hiddenuser").val(userId);
   }
   KWACHA_ADMIN.deleteBanner = function () {
      $("#userdata").html('Processing...');
      let bannerId = $("#hiddenuser").val();
    
    // if (userUuid) {
   $.ajax({
      url: "/admin/delete-banner",
      data: "bannerId=" + bannerId,
      cache: false,
      processData: false,
      method: "POST",
      type: "POST",
      success: function (_res) {
      $("#hiddenuser").val("");
      let successConfig = {
      title: "Confirmation",
      message: `Operation performed successfully.`,
      type: "success",
      };
      KWACHA_MAIN.sweetAlert(successConfig);
      },
      error: function (e) {
      $("#userdata").html("");
      let responseText = JSON.parse(e.responseText);
      let errorConfig = {
      title: "Error",
      message: responseText.message,
      type: "error",
      };
      KWACHA_MAIN.sweetAlert(errorConfig);
      },
   });  
   window.location.reload(); 
}	
    
    //End-user Delete
</script>
    