
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>vric backend</title>
<!-- plugins:css -->

<link rel="icon" type="image/x-icon" href="/admin/theme/images/favicon.png">

<link rel="stylesheet" href="/admin/theme/vendors/feather/feather.css">
<link rel="stylesheet" href="/admin/theme/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/admin/theme/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/admin/theme/vendors/select2/select2.min.css">
<link rel="stylesheet" href="/admin/theme/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->

<link rel="stylesheet" href="/admin/theme/css/vertical-layout-light/style.css">
<link rel="stylesheet" type="text/css" href="/admin/theme/css/min/sweetalert.min.css">
<!-- endinject -->
<link rel="shortcut icon" href="/admin/theme/images/logo-kawacha.png" />
<!-- Font-awesome cdn -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link href="/admin/theme/css/admin-style.css" rel="stylesheet">
</head>