 <!-- < <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#users-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="users-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-user">Create User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users-list">Users List</a>
          </li>
       
        </ul>
      </div>
    </li>
  <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#keys-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Jumaah</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="keys-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-jummah">Create Jumaah</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/jummah-list">Jummah List</a>
          </li> 
         <li class="nav-item">
            <a class="nav-link" href="/admin/keys-list">Keys List</a>
          </li> 
       </ul>
      </div>
    </li>

      <div class="collapse" id="jummah-elements">
        <ul class="nav flex-column sub-menu">
     
        </ul>
      </div> 
     
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#prayers-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Prayers_Timing</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="prayers-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-prayers">Prayers_Timing</a>
          </li>
      
        </ul>
      </div>
     </li> 
          <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#donation-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Donation</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="donation-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-donation">Donation Section</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/donation-list">Donation_List</a>
          </li>
        </ul>
      </div>
     </li>


     <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#prayers-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Prayers_Timing</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="prayers-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-iqumah">Iqumah</a>
          </li>
        </ul>
      </div>
     </li>
     <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#form-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Upcoming</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-upcoming">Upcoming_Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/upcoming-list">Upcoming_List</a>
          </li>
          
         
        </ul>
      </div>
    </li> 



    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#contact-elements"
        aria-expanded="false"
        aria-controls="contact-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Contact</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="contact-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-contact">Contact_Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/contact-list">Contact_List</a>
          </li>
          
         
        </ul>
      </div>
    </li> 
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#agent-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Announcements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="agent-elements">
        <ul class="nav flex-column sub-menu"> 
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-announcements">Announcement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/announcements-list">Announcement List</a>
          </li>
        </ul>
      </div>
    </li>





    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#forms-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Form section</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="forms-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/admin/create-form">Form_page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/form-list">Form_List</a>
          </li>
          
         
        </ul>
      </div>
    </li> 

  </ul>
</nav>





 -->
